@*@model Bookstore.ViewModels.ISBNViewModel

@using Bookstore.Models

@Html.DisplayFor(m => m.isbn) <br />
@Html.DisplayFor(m => m.country) <br />

@Html.ActionLink("ISBN list", "Index", "ISBN") <br />*@

<div ng-controller="ISBNController as isbnCtrl" ng-init="initialiseDetails()">
    <table border="1">
        <tr ng-repeat="(key,val) in detailedISBN">
            <td ng-bind="key"></td>
            <td ng-bind="val"></td>
        </tr>
    </table>
</div>
